* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

/*body {
	margin: 2rem;

}*/


.topnav {
	position: relative;
	margin-top: 2rem;
	/*display: flex;*/
	/*align-content: space-between;*/
}

.buildingbusiness {
	background-color: black; color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 50px;
}

.myportfolio h2 {
	margin-top: 2%;
	margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.helloeveryone{
	margin-left: 25%;
	margin-right: 25%;
	padding-bottom: 2rem;
	text-align: center;
}

.picture2 {
	align-content: center;
	margin-bottom: 2rem;
	margin-top: 2rem;
	/*margin-left: 5rem;*/
	border: 1px solid #555;
}

.form {
	background-color: black; color: white;
}

.maps {
	width: 500px;
  	height: 300px; 
  	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;



}


.button1 {
	margin-bottom: : 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

footer{
	box-sizing: border-box;
	margin-top: 3rem;
	margin-bottom: 5rem;
	align-content: center;
	text-align: center;

}


.fa {
	position: relative;
    padding: 20px;
    font-size: 30px;
    width: 70px;
   /* text-decoration: none;*/
    margin: 5px 2px;
   /*align-items: center;*/
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 600%;
}

.fa-google {
  background: #dd4b39;
  color: white;
  margin-left: 600%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-left: 600%;
}

.fa-instagram {
  background: #125688;
  color: white;
  margin-left: 600%;
}



 
